#appBg{
 box-sizing: border-box;
 height: 100%;
}

#appBg{
  padding: 1% 1%;
  height: 510px;
  width: 340px;
  border-radius: 5px;
  
  
}

#appBg form {
 height: 100%;
 width: 100%;

 box-shadow: 0 4px 30px;
 border: 1px solid rgb(248, 15, 15);
 color: black;
 background-color: purple;

    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rbga(35, 35, 35, 0.1);
    color: #3a2a2a;
    border: 6px solid rgba(160, 14, 218, 0.34);
    flex-basis: 400px;
    height: 510px;
    padding: 16px 16px;
}

#appBg input[type=textfield]{
height: 22%;
width: 100%;
cursor: default;
font-family: inherit'Roboto', sans-serif;
border-radius: 12px;
color: white;
padding: 16px;
text-align: right;
font-size: 50px;
border: 0;
outline: none;
background-image: url("photo1677275061.jpeg");
flex-basis: 47%;
padding: 20px;
margin: 0%;
border:3px solid  #d72880;
color: #e62987;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8;

}

#appBg input[type=button], input[type=reset]{
 cursor: pointer;   
 font-family: inherit 'Roboto', sans-serif;
 font-weight: bold;
 font-size: 26px;
 border-radius: 13px;
 padding: 15px;
margin: 3px;
border: 2px solid ;
}

#appBg .borrar{
  width: 99%;
  height: 0%;
  background-color: inherit;
  color: inherit;
  border-radius: 100%;
  border: 0px solid;
  color:purple;
}

#appBg .fb{


 
  flex-basis: 35%;
  padding: 5% 6%;
  margin: 0%;
  text-align: center;
  color: #ce377d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 5.jpeg");
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .c{
 
  flex-basis: 45%;
  padding: 5% 21%;
  margin: 0%;
  text-align: center;
  color: #1875ee;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("fb cover songs.jpg");
        width:"15px";
        height:"64px";
        opacity: 0.6;
  

}

#appBg .divisor{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #310c97;
  text-shadow: 0 0 5px rgb(190, 190, 171);

  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 13.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;

}

#appBg .seven{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #f854a6;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 9.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;

}

#appBg .eight{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #886bda;
  text-shadow: 0 0 5px rgb(213, 212, 226);
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 6.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .nine{
  width: 22%;
  height: 13%;
  
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: greenyellow;
  box-shadow: 0 0 5px rgb(202, 202, 192);
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 7.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .plus{
  width: 23%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #0c0b4e;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 4.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .four{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #9dccf8;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 10.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .five{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #30c8ee;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 8.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .six{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #db6541;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 12.jpg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .minus{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #8be921;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 2.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .one{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #eee19a;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 3.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .two{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #975a3d;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 16.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .three{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #17eebf;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 15.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .ex{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #310c97;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 11.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .zero{
  
  width: 34%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #f7e99a;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ zero.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .dot{
  width: 22%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #d8d527;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boton\ 1.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

#appBg .equal{
  width: 35%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  width: 34%;
  height: 13%;
  background-color: inherit;
  color: inherit;
  flex-basis: 47%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #29a3a7;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("boron\ equal.jpeg");
  
                  width:"155px";
                  height:"64px";
                  opacity: 0.6;
}

body{
    align-items: center;
    background: linear-gradient(320deg,#eb92be, #ff78f8, #63c);
    display: flex;
    font-display: swap;
    height: inherit;
    justify-content: center;

    
    }
    